<div class="item" *ngIf="count != 0">
  <div class="item-name">{{ name }}</div>
  <div class="item-count">x {{ count }}</div>
  <div class="item-price">{{ price }} KGS</div>
  <div class="item-delete" (click)="onClickDelete()">delete</div>
</div>
