.item {
  display: flex;
  padding: 10px;
  font-size: 14px;
  border-radius: 10px;
  margin: 4px 0 8px;
  background-color: #fff;
  justify-content: space-between;
  align-items: center;
}
.item-name {
  flex: 1;
  margin-right: 10px;
}
.item-count {
  margin: 0 20px;
}
.item-price {
  margin-right: 10px;
}
.item-delete {
  cursor: pointer;
  padding: 4px 6px;
  background-color: tomato;
  color: #fff;
  border-radius: 10px;
}
