.item {
  cursor: pointer;
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 10px;
  font-size: 14px;
  border: 1px solid transparent;
}
.item:hover {
  border-color: #333;
}
.coffee {
  background-image: url("../../assets/items/coffee.png");
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  margin-bottom: 10px;
}
.tea {
  background-image: url("../../assets/items/tea.png");
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  margin-bottom: 10px;
}
.sandwich {
  background-image: url("../../assets/items/sandwich.png");
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  margin-bottom: 10px;
}
.ice-cream {
  background-image: url("../../assets/items/ice-cream.png");
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  margin-bottom: 10px;
}
.muffin {
  background-image: url("../../assets/items/muffin.png");
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  margin-bottom: 10px;
}
.toast {
  background-image: url("../../assets/items/toast.png");
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  margin-bottom: 10px;
}
.item-name {
  font-size: 16px;
  margin-bottom: 2px;
}
