<div class="container">
  <div class="col-50">
    <div class="wrap">
      <div class="title">
        Order Details
      </div>
      <div class="order-list">
        <app-order-item
          *ngFor="let item of items; let i = index"
          [name]="item.name"
          [price]="item.price"
          [count]="item.count"
          (delete)="deleteItem(i)"
        ></app-order-item>
        <div class="order-placeholder" *ngIf="getTotalCount() === 0">
          Order is empty!
        </div>
      </div>
      <div class="total">
        <b>Total price:</b> {{ getTotalPrice() }} KGS
      </div>
    </div>
  </div>
  <div class="col-50">
    <div class="wrap">
      <div class="title">
        Add Items
      </div>
      <div class="items-list">
        <app-add-items
          *ngFor="let item of items; let i = index"
          [icon]="item.icon"
          [name]="item.name"
          [price]="item.price"
          (add)="addItem(i)"
        ></app-add-items>
      </div>
    </div>
  </div>
</div>
