.items-list {
  display: flex;
  flex-wrap: wrap;
}
.order-list {
  flex: 1;
}
.order-placeholder {
  padding: 10px;
  font-size: 14px;
  text-align: center;
  border-radius: 10px;
  margin: 4px 0 8px;
  background-color: #fff;
}
app-add-items {
  padding: 4px;
  flex: 1 1 50%;
  max-width: 50%;
}
